# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data raw files are large and not versioned
data/raw/

# ILIAS delivery zip not part of the repository
*.zip


# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
